@import 'reset.css';

.flex {
  display: flex;
  margin: 50px 0;
  gap: 25px;
  border: 1px dashed lightcoral;
}

.card {
  height: 50px;
  width: 50px;
  background-color: white;
  border: 1px solid #000;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}